main {
  margin-top: 100px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 15px 0 22px 0;
  display: inline-block;
  border: 1px solid black;
  background: white;
  border-radius: 8px;
}
.container {
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 40%;
  font-family: sans-serif;
}
.remcheck {
  display: flex;
  justify-content: space-around;
}
.clearfix {
  padding: 20px;
  cursor: pointer;
  margin-bottom: 30px;
 
}
.cancelbtn {
  padding: 15px;
  width: 48%;
  margin-right: 10px;
  border-radius: 8px;
  background-color: #CA655C;
  outline:none;
  border:none;

}
.cancelbtn:hover{
  background-color: #f0887e;
  
}
.signupbtn {
  padding: 15px;
  width: 47%;
  margin-left: 10px;
  border-radius: 8px;
  background-color: #458458;
  outline:none;
  border:none;
}
.signupbtn:hover{
    background-color:#37a859 ;
}
h1 {
  margin: 62px 0px;
}
hr {
    border: 1px solid rgb(112, 108, 108);
    margin-bottom: 25px;
